.gridContainer {
  display: grid;
  /* height: 50vh; */
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "video-list video-1"
    "video-list video-2"
    "video-list result";
}
.videoList {
  grid-area: video-list;
}
.header {
  grid-area: header;
}
.video1 {
  grid-area: video-1;
}
.video2 {
  grid-area: video-2;
}
.result {
  grid-area: result;
}


/* .playerWrapper {
  height: ;
  overflow: hidden;
  padding-top: 591.44px / 1127.34px * 100%;
  background: white;
  position: relative;
}
.reactPlayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */